[submodule "third_party/metricx"]
	path = third_party/metricx
	url = https://github.com/google-research/metricx
[submodule "third_party/ALMA"]
	path = third_party/ALMA
	url = https://github.com/fe1ixxu/ALMA
	shallow = true
